@model List<Urun>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<!-- shop section -->

<section class="shop_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Son Eklenenler
            </h2>
        </div>
        <div class="row">
           
            @foreach(Urun item in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="box">
                        <a href="">
                            <div class="img-box">
                                <img src="~/images/@item.Resim" alt="">
                            </div>
                            <div class="detail-box">
                                <h6>
                                    @item.Ad
                                </h6>
                                <h6>
                                    Fiyat
                                    <span>
                                       @item.Fiyat
                                    </span>
                                </h6>
                            </div>
                            <div class="new">
                                <span>
                                    Yeni
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="btn-box">
            <a href="/Urun">
                Tüm Ürünler
            </a>
        </div>
    </div>
</section>

<!-- end shop section -->


@section SLIDER{
<!-- slider section -->

<section class="slider_section">
    <div class="slider_container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Welcome To Our <br>
                                        Gift Shop
                                    </h1>
                                    <p>
                                        Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
                                    </p>
                                    <a href="/Home/ContactUs">
                                        İletişim
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5 ">
                                <div class="img-box">
                                    <img src="~/images/slider-img.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Welcome To Our <br>
                                        Gift Shop
                                    </h1>
                                    <p>
                                        Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
                                    </p>
                                    <a href="">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5 ">
                                <div class="img-box">
                                    <img src="~/images/slider-img.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="detail-box">
                                    <h1>
                                        Welcome To Our <br>
                                        Gift Shop
                                    </h1>
                                    <p>
                                        Sequi perspiciatis nulla reiciendis, rem, tenetur impedit, eveniet non necessitatibus error distinctio mollitia suscipit. Nostrum fugit doloribus consequatur distinctio esse, possimus maiores aliquid repellat beatae cum, perspiciatis enim, accusantium perferendis.
                                    </p>
                                    <a href="">
                                        Contact Us
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-5 ">
                                <div class="img-box">
                                    <img src="~/images/slider-img.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <img src="~/images/line.png" alt="" />
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- end slider section -->
}